   header {
       height: 10vh;
   }

   header ul li {
       display: inline;
       font-size: 2em;
       margin-left: 15px;
       text-decoration: none;
   }

 li{
    cursor:pointer;
   }
  
   header ul {
  position: absolute;
       font-size: 16px;
       right: 5px;
       top: 0;
       height: 100%;

   }

   aside {
       background-color: blueviolet;
       position: absolute;
       display: inline-block;
       left: 0;
       top: 0;
       bottom: 0;
       width: 20%;
       
   }

   main {
       border-top: 5px solid black;
       position: relative;
       width: 100%;
    
   }

   main>section {
       position: relative;
       display: inline-block;
       background-color: aqua;
       left: 20%;
       top: 0;
       width: 80%;

    

   }

   nav {
       display: inline-block;
       height: 100%;
       width: 20%;
   }

   nav>div {
       height: 100%;
   }

   main>aside ul {
       list-style-type: none;
       font-size: 2em;
       color: white;
       width: 100%;
   }

   aside ul li {
       margin-bottom: 5%;
   }
   main>section>section>div{
        position:relative;
       display: inline-block;
       width: 95%;
       left: 2.5%;
       margin: auto;
       
    }
    main > section>section>div>div{
    display: inline-block;
    width: 33%;
    
}
main>section>section div>div img{
    width: 100%;
    border: 3px solid wheat;
}
main> section p{
    margin-left: 2.5%;
    font-size: 2em;
}
footer{
    position: relative;
    background-color: lightgray;
    width: 100%;
    height: 10vh;
}
footer>div:nth-child(1){
    box-shadow: 5px -2px 12px 5px black;
}
footer h2{
    width: max-content;
    height: 20%;
    font-family: 'Explora', cursive;
    font-size: 2em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}
a{
    text-decoration: none;
    
}
 main li a{
    color: #fff;
}
header li a{
    color: black;
}

body>main>aside i{
    padding-right: 10px;
    color:rgb(0, 204, 255);
}



